.navigation {
    background-color: black;
    text-align: center;
    font-family: 'Barrio', cursive;
    position: absolute;
    height: 58px;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
    color: black;
}

.result {
    color: white
}

footer{
    margin-top: 10px;
    position: absolute;
    width: 100%;
    font-family: 'Barrio', cursive;
    background-color: lightyellow;
    margin: -8px;
}

#video{
    max-width: 100%;
    max-height: 100%;
    align-content: center;
    margin-bottom: 20px;
}

html { 
    background-image: url("http://www.caravanpiste.fi/userData/turun-caravanpiste-f287a/pictures/solar_energy_panels.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}

#main-header {
    margin-top: 100px;
    margin-left: 50%;
    font-family: 'Barrio', cursive;
}

.news-header{
    padding-top: 50px;
    color: white;
}

.headertext {
   position: absolute;
   font-family: 'Barrio', cursive;
   margin-top: 80px; 
   left: 20px; 
   width: 100%;
}

.navigation li {
    padding-top: 0px;
    padding-bottom: 10px;
    display: inline-block;
    margin-right: 10px;
}

.navigation ul {
    height:50px;
}

.navigation a {
    text-decoration: overline;
    color: #fff;
}

.navigation a:hover{
    color: darkred
}

.artikkeli{
    width: 97%;
    min-height: 100%;
    margin-top: 10px;
    text-align: center;
    color: white;
    padding: 10px;
    background-color: black;
    opacity: 0.9;
}

.video-container {
    align-content: center;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    padding-left: 25%;
    height: 50%;
}

.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#etusivu, #news, #ajankohtaista {
    color: #ff0000
}

#etusivu:hover{
    color: darkred
}

#news:hover{
    color: darkred
} 

#ajankohtaista:hover{
    color: darkred
}

.result{
    height: 300px;
}

@media screen and (min-width: 1000px){
    .video-container iframe{
        width: 70%;
        height: 70%;
        align-items: center;
        }
    }

@media screen and (max-width: 500px){
    .navigation ul {
        height: 125px;
        background-color: black;
    }
    
    .navigation a {
        text-decoration: none    
    }
    
    .navigation li {
        display: flex
    }
    #main-header {
        color: antiquewhite;
        margin-top: 45%;
    }
}